.w3-theme-gradient {color:#FFF;background-image: linear-gradient(110deg, #9cc14f 0%, #9cc14f 50%, #51a2e4 50%, #51a2e4 100%)}
.w3-theme-color1 {color:#FFF;background-color: #9cc14f}
.w3-theme-color2 {color:#FFF;background-color: #51a2e4}
